BuildConsole/BuildJobs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BuildJobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Menu" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Arguments" type="xs:string"/>
	<xs:element name="Group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Job" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Hint" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Job">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Arguments"/>
			</xs:sequence>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
			<xs:attribute name="Hint" type="xs:string" use="required"/>
			<xs:attribute name="Application" type="xs:string" use="required"/>
			<xs:attribute name="WorkingDir" type="xs:string" use="optional"/>
			<xs:attribute name="SuccessStatus" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Menu">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Group" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Caption" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
